  html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }


  html, body {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 1920px;
    height: 5448px;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background: black ;
  }

  .block {
    display: block;
  }
  .flex {
    display: flex;
  }

  .header {
    background: url(../images/header__bg.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    height: 1920px;
  }
  .header__line {
    padding-top: 64px;
    margin: 0px 84px 0px 85px;
    align-items: center;
    justify-content: space-between;
  }


  .logo {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
  }
  .header__logo {

  }
  .menu {

  }

  .header__menu {
    color: #b1b1b1;
    font-weight: 600;
    margin-right: 50px;
    transition: color 0.3s linear;
  }

  .header__menu:hover {
    color: #FFFFFF;
  }

  .search {
    opacity: 0.6;
  }
  .icon {
  }
  .header__icon {
    margin-right: 17px;
  }
  .header__search {
    width: 88px;
    height: 23px;
    background-color: #b1b1b1;
    border: 0;
  }


.header-down {
  margin-left: 79px;
  margin-top:  270px;
  
}

.header-down__social {
}
.header-down__social-content {
  writing-mode: vertical-lr;
  font-weight: 600;
}
.social__content {
  writing-mode: horizontal-tb;
}
.header-down_item {
  margin-bottom: 20px;
}
.social__img_instagram {
}
.social__img_twitter {
}
.social__img_facebook {
}

.header-down__header-content {
  margin-left: 396px;
}
.header-down__title {
  margin-left: 104px;
  text-transform: uppercase;
  font-weight: 800;
  color: #FFC178;
  margin-bottom: 32px;
  letter-spacing: 6px;
}
.header-down__title:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 72px;
  background-color: #FFC178;
  top: 365px;
  left: 498px;
}
.header-down__title_down span {
  font-weight: 800;
  font-size: 96px;
}
.header-down__title_down h1 {
  font-size: 88px;
}

.scroll-down {
  position: absolute;
  width: 126px;
  height: 26px;
}
.header__scroll-btn_title::before {
  position: absolute;
  content: "Scroll down";
  animation: move-down 2s infinite;
  margin: auto;
  left: -5px;
  top: -3px;
  height: 30px;
  width: 130px;
  color: rgba(255, 255, 255, 0.644);
  
}
.header__arrow-scroll::before {
  position: absolute;
  content: url(../icons/scroll-down.svg);
  animation: move-down-anim 2s infinite;
  margin: auto;
  left: 111px;
  top: -13px;
  height: 30px;
  width: 130px;
  color: rgba(255, 255, 255, 0.644);

}

@keyframes move-down {
  80%{
      opacity: 0.5;
  }
}
@keyframes move-down-anim {
  80%{
    opacity: 0.5;
}
  100% {
    transform: translateY(0.5em);
  }
}
.header__scroll-down {
  margin-left: 818px;
  margin-top: 384px;
}
.header__scroll-btn_title {
  margin-right: 6px;
} 
.scroll-btn {
}
.header__scroll-btn {
  color: #FFFFFF;
}


.main {
  margin-right: 230px;
  margin-left: 229px;
}
.main-header__content {
  margin-top: -167px;
  padding-top: 24px;
}
.main-header__content-img {
  margin-right: 232px;
  width: 598px;
  height: 720px;
}
.main-header__content-title {
  margin-top: 88px;
}
.main__span {
  margin-bottom: 27px;
  margin-left: 96px;
  font-weight: bold;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}
.main__span:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 72px;
  background-color: #FBD784;
  top: 1871px;
  left: 1059px;
}
.main__h2{
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
}
.main__p{
  margin-bottom: 27px;
  font-weight: 600;
  line-height: 32px;
}
.main-read-more {
  
}
.read-more {
}
.main-read-more>a {
  font-weight: bold;
  color: #FBD784;
  margin-right: 9px;
}

.content_down {
  padding: 463px 31px 23px 41px;
}
.header__content-title_down-1 {
  background: url(../images/content_header-2.jpg) no-repeat;
  background-size: cover;
  width: 1461px;
  height: 962px;
  margin-top: 250px;
}
.header_arrow-left-right_down {
  justify-content: space-between;
  margin-bottom: 41px;
}
.header__content-title_down {
  text-align: center;
}
.header__content-title_down>span {
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 25px;
  color: #FBD784;
  margin-bottom: 24px;
}
.header__content-title_down>span:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 72px;
  background-color: #FBD784;
  top: 3295px;
  left: 817px;
}
.header__content-title_down>span::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 72px;
  background-color: #FBD784;
  top: 3295px;
  left: 1043px;
}
.header__content-title_down>h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  margin-bottom: 27px;

} 
.header__content-title_down>p {
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 39px;
}
  .header__content-img {
}
.header__content-title {
}
.read-more__content>span {
  font-weight: bold;
  line-height: 25px;
  color: #FBD784;
  margin-bottom: 42px;
  margin-right: 9px;
}

.arrow-right {
}


.main-down__content1 {
  justify-content: space-between;
  margin-top: 227px;
}
.main-down__content-title{
  margin-top: 115px;
}
.main-down__content-title>span {
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 6px;
  color: #FBD784;
  margin-bottom: 27px;
  padding-left: 96px;
}
.main-down__content-title>span::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 72px;
  background-color: #FBD784;
  top: 4062px;
  left: 230px;
}
.main-down__content-title>h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  margin-bottom: 27px;
}
.main-down__content-title>p {
  line-height: 32px;
  margin-bottom: 27px;
}

.read-more_down>span {
  font-weight: bold;
  line-height: 25px;
  color: #FBD784;
  margin-right: 9px;
}
.main-down__right {
  width: 578.49px;
  height: 720px;
}